@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family:  "Open Sans", sans-serif;
}
.logo_title{
    font-size: 45px;
}
header{
      background-color:rgba(255 , 144 , 14 , 0.10);
      padding:50px 240px;
      
}
nav{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
nav ul{
    display:flex;
    margin:10px;
}
ul li {
    margin:20px;
    padding:10px;
    
    list-style-type:none;
}
  ul li a{
    text-decoration: none;
    font-size: 18px; 
}
.banner{
    text-align: center;
}
.banner_container{
    max-width: 800px;
    margin:0 auto;
}
.banner_title{
    font-size:50px;
    color:black;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}
.btn_primary{
   color:white;
   background-color: darkorange;
   font-size: 30px;
   border-radius: 8px;
   border:none;
   padding:10px;
   margin:10px;
}
.banner p{
   color:rgb(54, 46, 46);
}

    
/* header close */
main{
    max-width:1450px;
    margin:70px auto;
}




/* first section done */
.Dexktop .main_features{
    border:2px; 
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    padding: 30px;
    margin-bottom:20px;
    background:#fff;
}

.experience{
    background-color: darkorange;
    color:white;
    height: 157px;
    width: 264px;
    margin: 20px;
    padding-top: 4px;
    text-align: center;
    position:relative;
    bottom: 100px;
    left: -32px;
    border: 1px;
    border-radius: 5px;
}


.experience h1{
       font-size: 50px;
       line-height: 0.01;
}
.experience p{
    font-size: 25px;
}
.description{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.features-img img{
         width:100%;
}

.main_features p{
    font-size: 18px;
    color: darkgray;
}
.features{
    font-size: 50px;
    font-weight: bold;
    border-left:8px solid orange;
    padding:15px;
}
/* second section css close */
.icon_title{
    border:1px solid red;
    width: 301px;
    border-radius: 14px;
    text-align: center;
    padding: 11px;
    margin: 26px;
}
.four_icons{
    padding:70px 0px 17px 0px;
}
.main_facts p{
    font-size: 18px;
    color: darkgray;
    
}
.facts{
    font-size: 50px;
    font-weight: 660;
    
}
.main_icon_des{
    display:flex;
}
.icon_title h1{
    font-size: 50px;
    font-weight: 660;
    line-height: 0.01;
}

.icon_title p{
    font-size: 23px;
    color:rgb(107, 101, 101);
}
/* third section done */
.main_spons{
    padding: 122px 4px 90px 0px;
}
.sponspors{
    text-align: center;
}
.sponspors p{
    font-size: 18px;
    color: darkgray;
}
.sponspors h1{
    font-size: 50px;
    font-weight: 660;
}
.spons_img img{
    padding: 32px;
    margin: 27px;
}
/* fourth section done */
.all_right{
    text-align: center;
    background-color:rgba(255 , 144 , 14 , 0.10);
    padding: 45px;
    margin: 90px;
    width: 1649px;
    margin-left: 249px;
}
.all_right h3{
    color:darkgray;
    font-size: 21px;
    
}
/* footer done */





/* mobile display */
@media screen and (max-width:576px) {
    header{
        padding:20px;
    } 
    nav {
        flex-direction: column;
    }
    nav ul{
        margin: -72px;
        padding: 34px;
    } 
    .description{
        flex-direction:column;

    }
    .features , .facts , .sponspors h1{
        font-size:30px;
    }
    .experience{
        width:100px;
        height:100px;
    }
    .experience h1{
        font-size:13px;
    }
    .experience p{
        font-size: 10px;
    }
    .btn_primary{
        padding:15px 13px;
    }
    .main_icon_des{
        flex-direction: column;
    }
    .main_spons{
        padding:10px;
        margin:10px;
    }
    .all_right{
        width:100%;
        padding:10px;
        margin:10px;
    }
    .all_right h3{
        font-size: 11px;
    }
}


   
    /* tablet display */
     @media screen and (min-width:577px) and (max-width:992px) {
        header{
            padding:40px;
        }
        nav {
            flex-direction: column;
        }
        /* nav ul{
            margin: 50px;
            padding: 50px;
        }  */
        .description{
            flex-direction:column;
    
        }
        .features , .facts , .sponspors h1{
            font-size:35px;
        }
        .experience{
            width:206px;
            height:100px;
        }
        .experience h1{
            font-size:30px;
        }
        .experience p{
            font-size: 20px;
        }
        .btn_primary{
            padding:20px 15px;
            font-size: 15px;
        }
        .main_spons{
            padding:10px;
            margin:10px;
        }
        .all_right{
            width:100%;
            padding:10px;
            margin:10px;
        }
        .all_right h3{
            font-size: 20px;
        }
        .spons_img img{
            padding: 5px;
            margin: 26px;
        }

    } 